{% extends "base.html" %} {% load static %} {% block content %}
<h2>{{ event.name }}</h2>
<div class="detail-container row">
  <div class="col-lg-6 text-center" style="margin-top: 20px;">
    <ul>
      <p>{{ event.description }}</p>
      <p>Starts: {{ event.start_time }}</p>
      <p>Ends: {{ event.end_time }}</p>
      <p>
        Venue:
        <a href="{% url 'eventfinder:venue-detail' event.venue.pk %}">{{ event.venue }}</a>
      </p>
      <p>Host: <a href="{% url 'users:profile' event.host.pk %}">{{ event.host }}</a></p>
      <p>Categories:
        <br />{% for category in event.category.all %}
        {{ category.name }}, {% endfor %}</p>
    </ul>
  </div>
  <div class="col-lg-6">
    {% if event.photo %}
    <p><img src="{{ event.photo.url }}" style="width:100%" /></p>
    {% endif %}
  </div>
  <div class="col">
    {% if user.username == event.host.username %}
    <a href="{% url 'eventfinder:event-update' event.pk%}">Update my event</a>
    <a href="{% url 'eventfinder:event-delete' event.pk%}">Delete my event</a>
    {% endif %}
  </div>
</div>



<!-- <form action="{% url 'eventfinder:attending' event.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="RSVP">
    </form> -->

{% endblock %}