{% extends "base.html" %} {% load static %} {% block content %}
<h2>{{ event.name }}</h2>

{% if event.photo %}
<p><img src="{{ event.photo.url }}" /></p>
{% else %}
<p>This event has no photo</p>
{% endif %}

<ul>
  <p>{{ event.description }}</p>
  <p>Starts: {{ event.start_time }}</p>
  <p>Ends: {{ event.end_time }}</p>
  <p>
    Venue:
    <a href="{% url 'eventfinder:venue-detail' event.venue.pk %}"
      >{{ event.venue }}</a
    >
  </p>
  <p>Host: {{ event.host }}</p>
  <p>Categories:</p>
  <p>{% for category in event.category.all %}</p>
  {{ category.name }} {% endfor %}
</ul>
{% if user.username == event.host.username %}
<a href="{% url 'eventfinder:event-update' event.pk%}">Update my event</a>
<a href="{% url 'eventfinder:event-delete' event.pk%}">Delete my event</a>
{% endif %}

<!-- <form action="{% url 'eventfinder:attending' event.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="RSVP">
    </form> -->

{% endblock %}
