{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}



<h2>Update Profile</h2>
<div class="row">
    <div class="col-lg-5">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %} {{ user_form|crispy }} {{ profile_form|crispy }}
            <button type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}