{% extends "base.html" %}

{% load static %}

{% block content %}
    <h2>{{ usersdetail.username }}</h2>
    <ul>
        {% if usersdetail.user_photo %}
            <p><img src="{{ usersdetail.user_photo.url }}"></p>
        {% else %}
            <p>This profile has no photo</p>
        {% endif %}
        <p>{{ usersdetail.first_name }}</p>
        {% if usersdetail.username == user.username %}
            <p>{{ usersdetail.last_name }}</p>
            <p>{{ usersdetail.email }}</p>
            <p><a href="{% url 'users:user-update' user.pk%}">Update my account</a></p>
            <p><a href="{% url 'users:user-delete' user.pk%}">Delete my account</a></p>
        {% endif %}
    </ul>

{% endblock %}