{% extends "base.html" %}

{% load static %}

{% block content %}
    <h2>{{ usersdetail.username }}</h2>
    <ul>
        <p>{{ usersdetail.first_name }}</p>
        {% if usersdetail.username == user.username %}
            <p>{{ usersdetail.last_name }}</p>
            <p>{{ usersdetail.email }}</p>
            <p><a href="{% url 'users:user-update' user.pk%}">Update my account</a></p>
            <p><a href="{% url 'users:user-delete' user.pk%}">Delete my account</a></p>
        {% endif %}
    </ul>

{% endblock %}