{% load static %}

<nav class = "navbar bg-light">
        <div id="navbar-wrapper">
        <div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="{% url 'eventfinder:index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'eventfinder:event-filter' %}">Search for Event</a>
                </li>
            </ul>
        </div>
        <div>
            {% if user.is_authenticated %}
            
            <div class="nav-item dropdown">
                <button class="btn dropdown-toggle" type="button" id="MyAccountDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi {{ user.username }}
                </button>
                <div class="dropdown-menu" aria-labelledby="MyAccountDropDown">
                    <a class="dropdown-item" href="{% url 'users:user-detail' user.pk %}">My Account</a>
                    <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                </div>
            </div>
    
            {% else %}
            <ul class="nav">
                <li class="nav-item">
                        <a href="{% url 'users:login' %}">Login</a>
                </li>
                <li class="nav-item">
                        <a href="{% url 'users:user-create' %}">Register</a>
                </li>
            </ul>
            {% endif %}
        </div>
        </div>
    </nav>